[Unit]
Description=A Node service to seed Linux Exchange ISOs to IPFS
Documentation=https://github.com/leoherzog/LinuxExchangeIPFSSeedbox
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/LinuxExchangeIPFSSeedbox/
ExecStart=/usr/bin/node index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target